/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #f5f6fa;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

/* Container do PDF ocupa o ecrã inteiro */
.pdf-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* iframe ocupa todo o espaço */
.pdf-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}
