body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: 'Orelega One', 'cursive';
  background: linear-gradient(to top, #FFDAB9, #778899);
  position: relative;
}
.container {
  width: 50%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  z-index: 2;
}
.background {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: url('/Back-Office/Gestor/Imagens/Fundo_Direito.png') no-repeat center center;
  background-size: cover;
  z-index: 1;
}
.login-box {
  width: 100%;
  max-width: 400px;
  text-align: center;
}
.login-box img {
  width: 80px;
}
.login-box h2 {
  font-size: 20px;
  font-weight: bold;
}
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.btn {
  background-color: navy;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.google-btn img {
  width: 20px;
  margin-right: 10px;
}